.timeline-body{
    margin-top: 20px;
    margin-right: 100px;
}
.timeline-heading{
    margin-top: 50px;
}
.heading{
    margin-top: 50px;
}
.bs-head{
    margin-top: 50px;
}
.row{
    padding: 20px;
}
