<div style="margin-top: 20px">
  <div class="container">
    <script src="best_seller.js"></script>
    <div class="heading text-center">
      <h1><b><u>BEST SELLER</u></b></h1>
    </div>
    <div class="bs-head">
      <div class="row">
        <div class="col-md-6">
          <div class="timeline-image">
            <img
              class="rounded-circle img-fluid"
              src="../../assets/img/veg_thali.png"
              style="border: 8px solid #9c185c"
              alt="..."
              width="300px"
            />
          </div>
        </div>
        <div class="col-md-6">
          <div class="timeline-heading">
            <h2 class="fw-bolder text-decoration-underline">VEG THALI</h2>
          </div>
          <div class="timeline-body">
            <p class="">
              At the heart of our Vej Thali lies a symphony of culinary wonders,
              each carefully selected to create a harmonious balance of flavors.
              Picture a generously portioned platter adorned with a dazzling
              array of vibrant dishes, captivating both your eyes and your
              plate.
            </p>
          </div>
        </div>
      </div>
      
      
      <div class="row">
        <div class="col-md-6">
          <div class="timeline-image">
            <img
              class="rounded-circle img-fluid "
              src="../../assets/img/2.jpg"
              style="border: 8px solid #9c185c"
              alt="..."
              width="300px"
            />
          </div>
        </div>
        <div class="col-md-6">
          <div class="timeline-heading">
            <h2 class="fw-bolder text-decoration-underline">BIRIYANI</h2>
          </div>
          <div class="timeline-body">
            <p class="">
                Biryani is a mixed rice dish. It is made with Indian spices, rice,
                and meat usually that of chicken, fish, and sometimes, in addition,
                eggs or vegetables such as potatoes in certain regional varieties.
            </p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="timeline-image">
            <img
              class="rounded-circle img-fluid"
              src="../../assets/img/3.jpg"
              style="border: 8px solid #9c185c"
              alt="..."
              width="300px"
            />
          </div>
        </div>
        <div class="col-md-6">
          <div class="timeline-heading">
            <h2 class="fw-bolder text-decoration-underline">PASTA</h2>
          </div>
          <div class="timeline-body">
            <p> Pasta is a type of food typically made from an unleavened dough of wheat
            flour mixed with water or eggs, and formed into sheets or other shapes, then cooked by
            boiling or baking.
            </p>
          </div>
        </div>
      </div>
      
      <div class="row">
        <div class="col-md-6">
          <div class="timeline-image">
            <img
              class="rounded-circle img-fluid"
              src="../../assets/img/maggi.png"
              style="border: 8px solid #9c185c"
              alt="..."
              width="300px"
            />
          </div>
        </div>
        <div class="col-md-6">
          <div class="timeline-heading">
            <h2 class="fw-bolder text-decoration-underline">MAGGI</h2>
          </div>
          <div class="timeline-body">
            <p class="">
                Craving a quick, delicious, and satisfying meal? Look no further
            than Maggi, the iconic instant noodles that have won hearts all over
            the world. Whether you're a student in need of a late-night study
            snack or a busy professional seeking a flavorful meal on-the-go,
            Maggi is the ultimate companion that never disappoints.
            </p>
          </div>
        </div>
      </div>

      <div class="timeline-image" style="padding-top: 30px">
        <h3 class="text-center">Be Part Of Our Canteen!</h3>
      </div>
      <div></div>
    </div>
  </div>
</div>
