<!-- <div class="bg-imaged">
</div> -->
<div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel" style="width: 100%;">
  <div class="carousel-inner" >
    <div class="carousel-item active" data-bs-interval="2000">
      <a (click)="handleLoginAction()"><img src="../../assets/img/cafe3.jpg" class="d-block w-100 " alt="..." style="margin-top: -280px;"></a>
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <a (click)= "handleLoginAction()"><img src="../../assets/img/cafe2.jpg" class="d-block w-100 " alt="..." style="margin-top: -280px;" ></a>
    </div>
    <div class="carousel-item" data-bs-interval="2000">
      <a (click)="handleLoginAction()"><img src="../../assets/img/cafe1.jpg" class="d-block w-100 " alt="..." style="margin-top: -80px;"></a>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<!-- <app-carosel></app-carosel> -->
<app-best-seller></app-best-seller>
<div class="wrapper sticky" style="position: fixed; z-index: 999;">
  <nav class="navbar-fixed-top">
    <a href="#" class="logo">
      <mat-icon>storefront</mat-icon> Argus Break Zone
    </a>
    <ul>
      <li>
        <a (click)="handleLoginAction()" style="color:white">Login</a>
        <a (click)="handleSignupAction()" style="color:white">SignUp</a>
        <!-- <a (click)="handleforgotPasswordAction()" style="color:white">Forgot Password?</a> -->
      </li>
    </ul>
  </nav>
</div>
<div class="footer" id="signup">
  <h2>All right reserved @Argus</h2>
</div>